/*-------------------------------------------------contact-----------------------------------------------*/



@media only screen and (max-width: 1920px) {
    .contactcontant {
      
        max-width: 60rem;
        padding:0 1.5em;
        margin: 0 auto;
    }
    .info {
        top: 35%;
        left: 20%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.1rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: left;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 50;
        letter-spacing: .15rem;
    
        
    }
    .info2 {
        top: 60%;
        left: 20%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.1rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: left;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 50;
        letter-spacing: .15rem;
    
        
    }
    
    .SM {
        top: 30%;
        left: 55%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: 1.1rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: left;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 50;
        letter-spacing: .15rem;
    }
    
    .foter {
        top: 88%;
        left: 40%;
        position: absolute;
        display: flex;
        z-index: 99;
        font-size: .8rem;
        mix-blend-mode: difference ;
        color: #D1D1D1;
        text-align: center;
        font-family: Helvetica;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 50;
        letter-spacing: .15rem;
    }
}


@media only screen and (max-width: 1600px) {
    .foter {

        left: 38%;
       

    }
}
@media only screen and (max-width: 1440px) {
    .info {
        top: 38%;
        left: 15%;
        
    }
    .info2 {
     
        left: 15%;
        
    }
    
    .SM {
        top: 35%;
        left: 55%;
   
      
    }

    .foter {

        left: 36%;
       

    }
}
@media only screen and (max-width: 1200px) {
    .info {
        top: 30%;
        left: 10%;
        

    }
    .info2 {
        top: 45%;
        left: 10%;
        

    }
    
    .SM {
        top: 60%;
        left: 10%;
        text-align: left;
      
    }
    .foter {

        left: 34%;
        


    }
}

@media only screen and (max-width: 1024px) {
    .info {
        top: 25%;
        left: 10%;

    }
    .info2 {
        top: 40%;
        left: 10%;

    }

    
    .SM {
        top: 60%;
        left: 10%;
        text-align: left;
      
    }

    .foter {

        left: 32%;



    }
}

@media only screen and (max-width: 768px) {
    .foter {
 
        left: 25%;
      
    }

}

@media only screen and (max-width: 624px) {
    .info {
        top: 20%;
        left: 10%;
        

    }
    .info2 {
        top: 35%;
        left: 10%;
        

    }
    
    .SM {
        top: 55%;
        left: 10%;
      
      
    }
    .foter {
     
        left: 20%;
      
    }
}
@media only screen and (max-width: 480px) {
    .info {
  
        font-size: .8rem;

    }
    .info2 {
  
        font-size: .8rem;

    }
    
    .SM {
  
        font-size: .8rem;
      
    }
    .foter {
      
        font-size: .8rem;
        left: 10%;
      
    }
}